.App {
  text-align: center;
}
.area{
  width: 80%;
  margin: auto;
}
.score{
  margin-top: 50px;
  font-size: 32px;  
}
.gameArea{
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  width: 120px;
  height: 200px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: #eee;
}
.openCard img{
  width:120px ;
  height: 100px;
}
.cardMatched img{
  width:120px ;
  height: 100px;
}
.cardMatched{
  border:1px solid rgb(10, 173, 10);
  box-shadow: 5px 5px 5px rgba(10, 173, 10, 0.5);
}